
<br><br>
<p>{{{teamData.addressBlock}}}</p>

<br>
<p>{{projectData.firstName}} {{projectData.lastName}} <br>
{{{projectData.address}}}</p>

<b style="float: right">
    Rechnungsnummer: C{{invoiceData.customerIdDisplay}}-R{{invoiceData.invoiceIdDisplay}}<br>
    Kundennummer: C{{invoiceData.customerIdDisplay}} <br>
    Steuernummer: {{teamData.taxNumber}}
</b><br><br><br><br><br>

<b style="float: right">{{todayDate}}</b><br>
<b>Betreff: Rechnung - {{projectData.displayName}} - C{{invoiceData.customerIdDisplay}}-R{{invoiceData.invoiceIdDisplay}}</b>
<br>
<br>


<table class="table table-sm">
    <thead>
    <tr style="background-color: #d3d3d3 !important;">

        <th>Beschreibung</th>
        <th>Menge</th>
        <th>Preis / Menge</th>
        <th>Gesamt</th>
    </tr>
    </thead>

    {{#each projectGroups}}
        <tr style="background-color: #e9e9e9 !important;">

            <td ><strong>{{this.projectGroupName}}</strong>{{#if this.projectGroupDescription}}:<br>{{this.projectGroupDescription}}{{/if}}</td>
            <td></td>
            <td></td>
            <td>{{#if this.projectGroupFixedPrice}}{{this.projectGroupFixedPrice}} €{{/if}}</td>
        </tr>
        {{#each this.projectSteps}}
            <tr>

                <td><strong>{{this.displayId}}</strong> - {{this.text}}</td>
                {{#unless this.projectGroupFixedPrice}}
                    <td>{{this.workHoursFormat}}</td>
                    <td>{{../../teamData.hourLoan}} €</td>
                    <td>{{this.totalPrice}} €</td>
                {{else}}
                    <td></td>
                    <td></td>
                    <td></td>
                {{/unless}}

            </tr>
        {{/each}}

    {{/each}}

    <tr ></tr>
    <tr>

        <td><br><b>Gesamtsumme</b></td>
        <td></td>
        <td></td>
        <td><br>{{projectData.totalPrice}} €</td>
    </tr>
    </tbody>
</table>

<br><br>
<p>Das Lieferdatum entspricht dem Rechnungsdatum.</p>
<p>Gemäß § 19 UStG enthält der Rechnungsbetrag keine Umsatzsteuer.</p>
<p>
    Bitte überweisen Sie den obenstehenden Betrag innerhalb der nächsten 10 Werktage auf folgendes Konto:
    <br>IBAN: <b>{{teamData.iban}}</b>
    <br>BIC: <b>{{teamData.bic}}</b>
</p>
<br>
<p>Bei Rückfragen stehe ich natürlich zur Verfügung. <br> Vielen Dank für ihren Auftrag !</p>


